services:
  nginx:
    depends_on:
      - wordpress
    container_name: nginx
    build: ./requirements/nginx
    env_file:
      - .env
    volumes:
      - wordpress:/var/www/html
    ports:
      - 443:443
    networks:
      - net
  
  mariadb:
    container_name: mariadb
    build: ./requirements/mariadb
    env_file:
      - .env
    networks:
      - net
    volumes:
      - mariadb:/var/lib/mysql

  wordpress:
    container_name: wordpress
    build: ./requirements/wordpress
    volumes:
      - wordpress:/var/www/html
    env_file:
      - .env
    networks:
      - net
    depends_on:
      - mariadb

volumes:
  wordpress:

  mariadb:
    driver: local
    driver_opts:
      type: 'none'
      o: 'bind'
      device: './requirements/mariadb/data'

networks:
  net: