DOMAIN_NAME=ABCDEFGHI
CERTS_=/path/to/cert_files

# MYSQL SETUP
SQL_NAME=db_name
SQL_HOST=mariadb // mariadb contianer_name : host to reach the db by php
SQL_ROOT_PASSWORD=ABCDEFGHI
SQL_USER=USER
SQL_PASSWORD=PASSWORD

WP_PATH=/var/www/html
WP_TITLE=WEB
WP_LANG="en_US"
WP_ADMIN_USER=aaaaa
WP_ADMIN_PASS=aaaaa
WP_ADMIN_EMAIL=email@example.com
WP_USERNAME=user
WP_USERPASS=password

# you have to fill these variables in ".env" file 